[2022-04-11 15:10] andrei-tatar commented on #171
@qeggs can you share the guide you followed for setting up node-red in docker?
Usually connecting to the docker container and running `journalctl -u nodered.service` should provide the logs.

I'm running node-red directly on rpi (not via docker) and I just:
![image](https://user-images.githubusercontent.com/6473183/162770057-cb30abc6-99aa-4bf9-8918-eb65612b12b3.png)

[2022-04-11 17:59] andrei-tatar commented on #171
@qeggs as documented in the link, you can try starting docker with `docker run -it -p 1880:1880 -v node_red_data:/data --name mynodered nodered/node-red`. This will attach a terminal and show the logs. After that, just copy the logs over here.

[2022-04-12 03:31] qeggs commented on #171
I've resolved the issue by updating node-red to the latest version! To do that, I followed instructions here [https://nodered.org/docs/getting-started/docker](https://nodered.org/docs/getting-started/docker)

There was a hiccup after the update where I couldn't edit my smartnora configuration node. I had to "enable" that specific node within the palette manager, which allowed me to create a new co

[2022-04-13 18:01] andrei-tatar commented on #172
There is an option in the browsers usually to unsubscribe. I guess I could add a "clear subscriptions" button to the dashboard.
![image](https://user-images.githubusercontent.com/6473183/163242235-62f29abe-f2fb-48b1-a2e1-fb83f6ca398b.png)

[2022-04-14 06:21] Toby-Mills commented on #172
Oh, if all I need to do is block notifications from the site, that's fine - done!

[2022-04-14 06:21] #172 closed

[2022-04-14 08:16] andrei-tatar commented on #170
@TonKro published version `1.12.0` that supports disabling the validation warnings.

[2022-04-14 13:08] andrei-tatar commented on #172
@Toby-Mills also added an option on the dashboard at https://smart-nora.eu/my-nora/notifications
![image](https://user-images.githubusercontent.com/6473183/163397281-2f7082e6-bb82-4878-98e6-e71591f9aa06.png)

[2022-04-16 15:47] TonKro commented on #170
Great, next week going to test.

[2022-04-18 06:40] TonKro commented on #170
Works very good, it is a relief...

[2022-04-18 06:56] andrei-tatar commented on #170
Glad to hear :)

[2022-04-18 06:56] #170 closed

[2022-04-20 10:12] #169 closed

[2022-04-21 03:36] Askeshine opened #175 "Error no SYNC"
Hello not SYNC state of switchs / ligths...

Nora -> https://escuderokevin.ar/capturas/firefox_tmT752dLRh.png
Node Red -> https://escuderokevin.ar/capturas/firefox_f4ZK15Z4sT.png
Android APP ->https://escuderokevin.ar/capturas/firefox_utbWDeZA2f.png

Need Help

[2022-04-21 06:15] andrei-tatar commented on #175
@Askeshine can you give more details? It's hard to understand the problem.
So in Nora dashboard, you can see the `garaje` light is on and the `luces` light is off.
Not sure what you are showing in the Node-red image, since that is not node-red (maybe node-red dashboard?).
In Google Home, you can see you have 2 devices grouped (so if one is on, it will show both as on).
![image](https://user-images

[2022-04-21 07:33] Askeshine commented on #175
@andrei-tatar

Hello, thx for response sorry about my english.

im fixed my node red its hosted on Home Assistant.

Error for other users , need check this options https://escuderokevin.ar/capturas/firefox_abdFJ691S2.png

Thx <3

[2022-04-21 08:09] andrei-tatar commented on #175
No worries. It's not my native language either. You can use your native language and get Google Translate to do the rest of the job :)

So did you manage to find and solve your issue?

[2022-04-21 20:11] Askeshine commented on #175
Yep, i resolve the issue.

[2022-04-23 15:24] Flixm opened #176 "I have an issue while using NORA"
Hi Andrei,

often if i'm playin around with Senors or other Smart-Nora nodes and i change something of the settings of the Nodes (e.g.: Sensor change from Temp to open/close) and i say to my Google speaker "sync all devices", then it disconnected **all** SmartNora devices.
After trying different things (don't ask which one the one successfull) it reconnected, but all items are dislinked to their r

[2022-04-24 18:58] MBerantzino opened #177 "Room association lost"
Every time I deploy in node-red, all configured devices are listed as not belonging to any rooms in Google Home. If I move one manually in Google Home to a given room and deploy in node-red afterwards - then the association with the room is reset (the device is no longer associated with the room in Google Home).

In the webinterface (smart-nora.eu) the device is associated correctly with the room

[2022-04-27 05:53] #177 closed

[2022-04-27 05:53] MBerantzino opened #178 "I have an issue while using NORA"
Every time I deploy in node-red, all configured devices are listed as not belonging to any rooms in Google Home. If I move one manually in Google Home to a given room and deploy in node-red afterwards - then the association with the room is reset (the device is no longer associated with the room in Google Home).

In the webinterface (smart-nora.eu) the device is associated correctly with the room

[2022-04-27 10:45] andrei-tatar commented on #176
@Flixm I must admit I never used the "sync all devices" command, via voice. I'll have a look and see if I can reproduce.

[2022-04-27 10:47] andrei-tatar commented on #178
@MBerantzino that is weird. Do you have multiple homes configured in Google Home? Do you use multiple instances of node-red?

[2022-04-27 11:45] MBerantzino commented on #178
@andrei-tatar I do have 2 homes configured - one recently created during a holiday.

I deleted this second home - and that fixed the problem.

Thank you for the assistance.

[2022-04-27 11:45] #178 closed

[2022-04-27 12:56] #175 closed

[2022-04-27 12:56] #171 closed

[2022-05-03 21:18] rgerrans opened #181 "Latest version is crashing"
@andrei-tatar Just updated to latest and getting major errors

![image](https://user-images.githubusercontent.com/18623772/166568030-42673528-63e1-4e17-ae00-8bc30da34080.png)

[2022-05-03 22:18] rgerrans commented on #181
I tried rolling back to an earlier version but keep getting a "waiting for missing types to be registered" no matter which version I use?

[2022-05-03 22:56] rgerrans commented on #181
I've tried multiple uninstall/reinstalls of different versions and event tried flushing the npm cache between uninstall/reinstall. No love.....still getting syntax errors on node-red startup

[code]

[2022-05-04 05:36] andrei-tatar commented on #181
@rgerrans can you try using `v1.13.3`? I switched back the target code generation to `ES2017`.

[2022-05-04 11:38] rgerrans commented on #181
@andrei-tatar I still get the unexpected token errors on restart.

I think there is something embedded in my system from v1.13.2. I even tried going back to the last local version I had from the last time I was working on nodes and it also generated that error. I've tried uninstalls w/ restarts w/ reinstalls. I also tried a forced npm cache clean.  I also reran the node-red installation script to

[2022-05-04 11:54] andrei-tatar commented on #181
@rgerrans  if you are running directly on a rpi, you can try:

[code]

This will delete and reinstall all the npm modules that you have installed for `node-red`.

[2022-05-04 12:21] rgerrans commented on #181
@andrei-tatar Unfortunately still has the error on start?

[2022-05-04 12:32] rgerrans commented on #181
hmmmm.....I went back to an old backup of Node-Red from last year, updated it to 2.2.2. Started fine. When I updated to nora v1.13.3 same error showed up?

[2022-05-04 12:53] andrei-tatar commented on #181
@rgerrans really weird one. What node.js version are you using? I will try to reproduce

[2022-05-04 12:53] rgerrans commented on #181
4 May 06:53:29 - [info] Node-RED version: v2.2.2
4 May 06:53:29 - [info] Node.js  version: v12.22.12
4 May 06:53:29 - [info] Linux 5.10.103-v7l+ arm LE

[2022-05-04 12:59] rgerrans commented on #181
Just tried the same thing of going to my old copy, updated to NR2.2.2, rebuilt the node_modules, made sure all the other nodes were updated.  Started fine (I think it was smartnora v1.10.0) Manually updated to v1.12.0. Same issue with the token errors. Seems to be something outside on Node-Red. I've made sure all the other packages are up to date on my pi

[2022-05-04 12:59] andrei-tatar commented on #181
@rgerrans found the issue. Forgot to change the common lib to ES2017 as well. Give me a few mins

[2022-05-04 13:08] andrei-tatar commented on #181
@rgerrans published `v1.13.5`. There were 2 issues:
1. nora-firebase-common was still using ES2020
2. node-fetch v3 is not supported by node.js 12

Reverted these 2 changes and it works now. Tested with node.js v12.19

[2022-05-04 13:21] rgerrans commented on #181
@andrei-tatar That worked, thanks!!! Back up and running.

Appreciate all the short-notice help!!!

[2022-05-04 13:56] andrei-tatar commented on #181
Glad it worked! Need to automate the node.js compatibility check. I'm always keen on using the latest and the greatest features :)

[2022-05-04 15:12] rgerrans commented on #181
I totally get that....been on the bleeding edge a few too many times over the years....

Unrelated, but last night in trying to get my system back online I checked out the Google Smarthome node. One thing I think it looked like they were doing was allow on a device node by device node basis to allow the node to create a persistent variable to store the state of the device. I'm doing it now as a on

[2022-05-04 15:23] andrei-tatar commented on #181
@rgerrans nora nodes have the possibility of staring the state in the node context so it persists in memory between redeploys or node changes. Is this what you are looking for?

![image](https://user-images.githubusercontent.com/6473183/166714763-cb60a4a2-c121-45f3-9cb2-d8631ba33c6e.png)

![image](https://user-images.githubusercontent.com/6473183/166715045-47adedc7-24a4-479e-af93-9bff89710b97.png)

[2022-05-04 15:57] rgerrans commented on #181
Guess I need to figure out how to access that for other flows. Will do my research and come back with any questions. Thanks

[2022-05-05 01:21] rgerrans commented on #181
Looks like Node level context is only visible to the node, not something you can reference outside the node....I want to be able to use it outside the node to check values against in other related flows

[2022-05-05 07:32] andrei-tatar commented on #181
@rgerrans ah, got you. I will have a look at adding that, seems useful.

[2022-05-05 07:49] andrei-tatar commented on #181
@rgerrans I navigated through the `node-red-contrib-google-smarthome` and it seems that when `Persistent state` is checked, they have a management node that outputs state changes from all nodes if they match some filters... Seems a bit cumbersome to me.

I was thinking of adding a property to each nora node (something similar to the change node) where you can specify where you want to save the sta

[2022-05-15 20:32] rgerrans commented on #181
@andrei-tatar Sorry, this got lost in my  inbox. That's along the lines of what I had in mind as well

[2022-05-26 05:11] Oleg6678 opened #183 "I have an issue while using NORA"
Describe the problem here...

My user id is: mqtIxENbuRcUkO37XgZguPBQULL2

Hallo, it is not possible for me to link Google Assistent to Nora.

I can use the Nora switch that I have created but that's all.

[2022-05-26 07:08] andrei-tatar commented on #183
Can you go into more details?
Have you followed the guide: https://github.com/andrei-tatar/node-red-contrib-smartnora/blob/master/doc/setup/README.md#link-to-google-home-these-steps-need-to-happen-only-once

What step is it failing at?

[2022-05-26 07:39] Oleg6678 commented on #183
The link Nora with Google Home part.

It's not on the Nora Side . Google home will not Link to anything.
I have linked Roborock and Smart Life App for a couple of Month and it is still running.
I ve tried other Services Node Red and so on but nothing will happen.
Google always says Can't reach the ....Service.

Any suggestions?

[2022-05-26 07:47] andrei-tatar commented on #183
Do you have any devices defined in that NORA account?
I've only seen this happening when there are no devices to link.
Maybe double check you are using the same account in Node-Red and in Google Home when linking.

[2022-05-26 09:13] Oleg6678 commented on #183
One Device, and in Runs.

It is definitely Google Home that will not Link.😬

[2022-05-26 09:35] andrei-tatar commented on #183
@Oleg6678 maybe try:
- using different Google account for testing
- resetting your Google Home device to factory settings and setting it up again
- raising an issue with Google

[2022-05-29 22:08] mvujica opened #184 "Sprinkler node"
There is no documentation on sprinkler node, what are the I/O ?

My user id is: lhsnfOkC7JV0W8wJc9u2CcFn0az1

[2022-06-04 10:07] #176 closed

[2022-06-05 10:57] herotux opened #185 "cant sign-up in website"
The website sign in not work

[2022-06-06 09:51] davall opened #186 "I have an issue while using NORA"
I had a monthly subscription, but thince yesterday only 5 devices are in sync. I renewed my subscription on a yearly basis (i got an invoice and receipt) this morning, but nothing changed, only 5 devices are in sync. Andrei, can you please take a look and inform me what to do.

My user id is: u1dSdXtfjHXPkcJ6O29d9wYCT682

[2022-06-06 10:07] #181 closed

[2022-06-13 08:40] andrei-tatar commented on #185
@herotux Can you please provide more details, maybe a recording?

[2022-06-13 08:41] andrei-tatar commented on #184
@mvujica Indeed, there is no documentation. Was out on a bit of holiday. Will have a look at adding some doco.

[2022-06-13 08:42] andrei-tatar commented on #186
@davall I know you replied on the email that the issue solved automatically. I will close this issue now.

[2022-06-13 09:44] mvujica commented on #184
Tnx.
No hurry, I still haven't planted the grass seeds. 😉

[2022-06-13 19:11] herotux commented on #185
while try login with google github or other options a get this error: A network error has occurred  Dismiss

[2022-06-14 05:54] andrei-tatar commented on #185
@herotux can you please provide a screen recording?

[2022-06-14 14:06] drsurfer opened #187 "Please don't kick me :-)"
Hi all
I am going mad, may be because I miss some basic info.
I am trying to control a fictional Switch via a simple node red network.
![image](https://user-images.githubusercontent.com/13066684/173595065-2d8abc33-e8e5-4904-8f91-0badf799305a.png)
I see my "Cosa" device in Google Home app and I can control his state by hitting the button in app and by voice commands. In the debug node I receive the

[2022-06-14 16:12] andrei-tatar commented on #187
I also use tasmota and you can also use MQTT to update Google Home. I actually use pulsetime as well to turn on the dog feeder for a few seconds.

I just update the nora node input with the latest value that comes from MQTT.

So the latest state comes from: MQTT -> map -> NORA (without fwding the message to the output)
And the changes from nora go directly to MQTT: NORA -> map -> MQTT

![image](ht

[2022-06-15 09:29] drsurfer commented on #187
Thanks for all your valuable suggestions: in the meantime I have found a solution (very ugly and convoluted) to my problem, but I think I will throw it away soon because yours is simpler and very scalable.

[2022-06-19 05:27] normanr opened #188 "Provide local fulfillment address"
There was a request to provide "The ability to identify which Google device has initiated a query so that any responses generated by node-red can be sent back to that specific device", (_Originally posted by @Syridian in https://github.com/andrei-tatar/node-red-contrib-smartnora/discussions/63#discussioncomment-1792295_).

I realized that for actions initiated via local fulfillment that `req.socke

[2022-06-19 06:31] rogerroger-coder opened #189 "I have an issue while using NORA"
Describe the problem here...
Hi,
the issue startet with a restart of node-red.
Scenes are not working - device is not availible.
I can control other devices.
The nodes show 'connected' as a status.

Version 1.13.6

Let me know if you need Logs or something.
Thanks

My user id is: HqEvAxSCCxbcv6n3ed5khpyrO7C2

[2022-06-20 09:52] andrei-tatar commented on #189
Hi @rogerroger-coder
Do you have any errors in the node-red logs?

[2022-06-20 09:55] andrei-tatar commented on #188
@normanr I can try to include that. Not sure if it will be as helpful as you think. As far as I can remember, the local commands are not issued from the device that you query.

I remember I had 3 Google Home Minis but only one would issue local commands. Also, the queries don't go via the local path so this would only work for commands.

[2022-06-20 14:40] rogerroger-coder commented on #189
Hi,
I did cut the integration into Google Home and reconnected it.
I can't reproduce it anymore - reboots did work fine - all items working.
Will Smart Nora use IPv6 if its configured on the node-red host?
The IPv6 might habe changed when the issue appeard at first - as my hole house was without power.

[2022-06-20 19:34] normanr commented on #188
Ahhh, i see what you mean. I ran a tcpdump on port 6987 and no matter which on my home mini's I used the local fulfillment request came from the same IP address 😞

Oddly I see both devices sending discovery probes, but the Smart Home documentation is very clear that this is not supported:

From https://developers.google.com/assistant/smarthome/concepts/local:

From https://developers.google.com/as

[2022-06-20 19:34] #188 closed

[2022-06-20 20:50] Mukatai opened #190 "Login/password lost on reboot"
Hello,
When my system reboot (due to power outage) i loose my login and password in config node. Where is stocked the login/password ?

My user id is: 0v1YTIScAZevDgRvWm3NWNn9xe02

[2022-06-28 09:32] andrei-tatar commented on #190
@Mukatai Is it possible that you have a read only filesystem?
Node-red stores it as credentials: https://nodered.org/docs/creating-nodes/credentials

[2022-06-28 09:34] andrei-tatar commented on #189
@rogerroger-coder There are no such details in nora regarding IPv4 or IPv6. The OS decides what to use given a host name...

[2022-06-28 09:34] #189 closed

[2022-06-28 09:34] #187 closed

[2022-06-28 15:50] andrei-tatar commented on #184
Added documentation for the sprinkler node, will close the issue:
https://github.com/andrei-tatar/node-red-contrib-smartnora/blob/master/doc/nodes/sprinkler/README.md

[2022-06-28 15:50] #184 closed

[2022-06-28 18:58] rgerrans opened #191 "Issue with newest Build"
@andrei-tatar Just installed the newest build and am getting these errors after restart:

`nora: Secure - unhandled error (trying again in 68.95 sec): (0 , undici_1.fetch) is not a function
TypeError: (0 , undici_1.fetch) is not a function
    at FirebaseSync.doHttpCall (/opt/node-red/node_modules/node-red-contrib-smartnora/build/nora/sync.js:218:55)
    at runNextTicks (internal/process/task_queu

[2022-06-28 19:11] rgerrans commented on #191
I rolled back to 1.13.16 and the error went away.

[2022-06-29 06:47] osvedman commented on #191
Same.

[2022-06-29 08:44] andrei-tatar commented on #191
Should be fixed now in `v1.13.8`

[2022-06-29 17:37] FireWizard52 commented on #190
@Mukata

You wrote:

This is an indication of an unwanted shutdown and so the sdcard (if you use that) could be damaged.
Usually, a memory SD card or USB flash drive itself has been locked into "read only" mode; it's because the card is getting old, damaged, corrupted, or infected by a virus. Sometimes, human error will also make SD card read only.

I had that last year with a SDcard, that had rea

[2022-06-29 21:31] MasterVigori opened #192 "I have an issue while using NORA"

[2022-06-29 22:36] #192 closed

[2022-06-30 00:06] MasterVigori opened #193 "no devices NORA"
I CANNOT CONNECT ANY MORE.

I paid €20.00 paid on February 23, 2022 for 1 year but it has expired but that is not true

Nodred logs:

30 Jun 02:04:27 - [info] Node-RED Version: v2.1.4
30 Jun 02:04:27 - [info] Node.js  Version: v14.19.0
30 Jun 02:04:27 - [info] Linux 5.10.92-v7l+ arm LE

i instal the new version node-red-contrib-smartnora 1.13.7.
I have no way to select version 1.13.8
![Unbenannt](

[2022-06-30 06:33] andrei-tatar commented on #193
@MasterVigori Can you please upgrade `node-red-contrib-smartnora` to the latest version (`1.13.8`)?
A bug creeped through that affected setups that were running node.js 12 (https://github.com/andrei-tatar/node-red-contrib-smartnora/issues/191).

Sorry for the inconvenience.

[2022-06-30 07:47] MasterVigori commented on #193
@andrei-tatar Can you please check why I only have access until July 30, 2022? There is also an error. I paid for a year in February!

[2022-06-30 07:55] andrei-tatar commented on #193
I updated the [node-red registry](https://flows.nodered.org/node/node-red-contrib-smartnora).
It might need some time for the new version to propagate to node-red. It probably caches the packages the indexes for a few hours (maybe a day). You should be able to manually update with `cd .node-red && npm install node-red-contrib-smartnora@1.13.8`.

I see in the node-red log you posted:
`30 Jun 02:29:

[2022-06-30 09:03] #193 closed

[2022-06-30 12:28] rgerrans commented on #191
Thanks, looks like no more errors with the updated build.

[2022-06-30 12:28] #191 closed

[2022-07-04 13:36] Fragmike opened #194 "Slow service!?"
Hi. Since (some days) service is so slow. Just want to ask if this is caused by NORA or if the Issue is located @google. usually I got response Times <1 Sec. Now ist 4-5 secs.

Kind Regards Michael

[2022-07-04 14:20] andrei-tatar commented on #194
Hi. Consistently?
NORA backend has mostly the same latency for the past 7 days. The 99% is ~350msec, not even close to 4-5 sec.
![image](https://user-images.githubusercontent.com/6473183/177173171-120af02b-3995-428b-b533-7513327b630f.png)

[2022-07-04 19:00] Fragmike commented on #194
Hi. Ist still so slow. I switched my router to a newer model, but preferences are ok and normal questions to my google home mini are answered real fast. Only commands for my smarthome are processed so slow.
Will try to figure out if there is any issue in my system....THNX for the fast response.

greetings Michael

[2022-07-05 06:50] andrei-tatar commented on #194
@Fragmike might be that local execution fails for some reason and it takes a few seconds until it falls back to the cloud execution path.

You might want to try disabling local execution

[2022-07-05 07:35] bwesemann opened #195 "I have an issue while using NORA"
hi,

i've configured 34 devices in node-red. they are all online. but in my google home app there are only 26 devices and all are offline.
i think this happend because my subscription was suspended.
in google home i've tried to unlink my account and link it again, but still there are only 26 devices. how can i sync it?

br
ben

My user id is: 8SMuRPYTVIX6BdyTkczRee2jJjF3

[2022-07-05 08:13] andrei-tatar commented on #195
@bwesemann Any logs from node-red? Are you sure you created your subscription on the same account you are using in node-red?

It seems this user just registered, 1 day ago.

[2022-07-05 08:36] #195 closed

[2022-07-05 08:37] bwesemann commented on #195
oh damn, you are right.

[2022-07-05 18:28] Fragmike commented on #194
@andrei-tatar OK. will try this. Got to figure out how to do that ;-)... any link to where I can look up how to do that?
Im using IOBROKER in combination with NodeRed. Wondering what happened. Did not really change my system.
Thumbs up for ur supreme support !!!!

[2022-07-06 06:32] andrei-tatar commented on #194
@Fragmike should be under the nora config node options:
![image](https://user-images.githubusercontent.com/6473183/177484198-3f733481-06b3-4172-9785-db3752996e46.png)

[2022-07-06 08:06] Fragmike commented on #194
Hi. Found the settings, but I cant disable it. As soon as I Press Update window closes. If I reopen it  it is checked again.
![Nora config node](https://user-images.githubusercontent.com/36605949/177501222-3d0be1b5-190e-4195-bd08-80691a1eb761.png)
.

[2022-07-06 08:33] andrei-tatar commented on #194
That's weird. Might be a bug. What version of smartnora package are you running?

[2022-07-06 10:08] #185 closed

[2022-07-06 14:54] Fragmike commented on #194
oooohhhh...was on 1.1 alpha updated now but issue is still there.
Got an error message in debug window
Maybe thats the reason?
Triggering node in Nodered will cause switching lamps immediatel
![Screenshot 2022-07-06 165313](https://user-images.githubusercontent.com/36605949/177580158-b465483e-90c3-40b1-8f5c-42bd384aec3b.png)
y

[2022-07-06 14:58] Fragmike commented on #194
local execution can be disabled now...but does not fix issue

[2022-07-06 15:25] Fragmike commented on #194
Hi. After updating I replaced the old nodes with a new one. Now it works like a breeze. Will have to remove now ALL the other nodes

[2022-07-06 15:59] Fragmike commented on #194
OK. Deleted old nora config  and replaced just these in the  settings. All Fine now.

[2022-07-06 16:28] andrei-tatar commented on #194
Nice to hear! So is it working with local execution as well?

[2022-07-06 16:50] #194 closed

[2022-07-07 06:41] keepxtreme opened #197 "Media node gives full payload on change"
Hi,
I discovered an issue with the media node (in my case configured as TV). On change via Google Assistent the provided payload contains not only the latest set value but also before set values for all configured triggers. Therefore it's hard to detect which value actually has changed and requieres unnecessary extra steps to detect. Maybe there's an option within the node - if not, would be nice

[2022-07-07 06:45] andrei-tatar commented on #197
Hi, that's the pattern for pretty much all of the nora nodes.
Some of them do support "async execution" where you receive the commands and implement the handlers yourself.
Maybe you can give more details on your use case

[2022-07-07 07:05] keepxtreme commented on #197
I'll try to explain: I' currently trying to implement an GA-control for my LG-device which support control by an LG-APP (found nodes for that already). When I'm invoking an action via the googe assistant, all values currently stored in the nora-node will be outputtet. Therefore, at this point, I can't tell, which value on the payload actually has changed and need further processing to get this inf

[2022-07-12 07:38] andrei-tatar commented on #197
@keepxtreme The media nodes supports `async execution` for almost all of the traits. That means your node-red flow will receive a command and it's responsible for generating/updating the state. That should fit your use case.

[2022-07-12 17:50] normanr opened #198 "Devices not syncing properly"
I'm using Deploy "Modified Flows", and getting a weird behavior where ~most devices are removed and only the changed device remains:

[code]

This didn't happen ~months ago (when I was doing my initial setup), and is something new. I only have a single `noraf-config` node.

[2022-07-12 17:55] normanr commented on #198
This was running version 1.13.0. I see 1.13.8 is available, but I don't see anything in the release notes (for 1.13.0 --> 1.13.8) that would address this.

I think this may have started when I imported the async example flow (deleted the example config node, and changed the example node to use my config), not sure if that could cause it or not.

[2022-07-14 04:13] ivishaltejwani opened #199 "cant verify my email"
cant verify my email if I create account via sign in w email

cant use smart nora if I login with google

My user id is: IMFD6eu236SKmw8SyC83I3tDBcp1

[2022-07-14 08:04] ivishaltejwani commented on #199
On node red (logged in via google) says
"nora: FirebaseError: Firebase: Error (auth/wrong-password)."

Password is correct quadruple checked

on smart nora website , click to get verification email is not working
after clicking on button on website to get verification email the page doesnt move to verification mail sent , it stays on same page , and I didnt get any verification email

[2022-07-14 08:35] andrei-tatar commented on #199
What `node-red-contrib-smartnora` version are you using? When logging in via google in node-red it shouldn't use the password since it's SSO (make sure you haven't entered your google password and that you use the latest package version).

Also weird, it shouldn't ask you to verify your email when doing "Sign in with Google"
![image](https://user-images.githubusercontent.com/6473183/178939535-bd99

[2022-07-14 08:37] ivishaltejwani commented on #199
it is not asking to verify when logging in from google. When logged in via google , In Nodered console I am not able to connect to smart nora with the email and password

When I use Sign in via email , I am unable to verify
![image](https://user-images.githubusercontent.com/57434902/178940071-63636129-2169-4aeb-88a8-8e820f176f82.png)

[2022-07-14 15:39] andrei-tatar commented on #198
So a single `noraf-config` node resulting in 2 separate sync calls for the same group name. Interesting. I'll check if there might've been some bug.
I don't I fixed something related to this since 1.13.0

[2022-07-15 18:54] mvujica commented on #184
Thanks for update on docs but can't make sprinkler node to function. State is always "not running".
If I set a payload to true, status is "not running", if I set it to payload.on=true than massage appears:
"[Sprinkler1] ignoring property msg.payload.on"
Also the property "Ignore input messages that don't match the topic value" is always reverted back to false.

Can you please check, it behaves dif

[2022-07-19 05:59] dowermyr opened #200 "Can't install"
I get this error in the log:

2022-07-19T05:58:13.729Z Install : node-red-contrib-smartnora 1.13.8

2022-07-19T05:58:06.787Z npm install --no-audit --no-update-notifier --no-fund --save --save-prefix=~ --production --engine-strict node-red-contrib-smartnora@1.13.8
2022-07-19T05:58:07.226Z [err] npm
2022-07-19T05:58:07.226Z [err]  WARN config production Use `--omit=dev` instead.
2022-07-19T05:58:15

[2022-07-19 12:52] andrei-tatar commented on #200
@dowermyr What are you running node-red on?
What version of node.js (`node --version`) are you running?

It seems like you're running node-red as `root`.

[2022-07-19 13:36] andrei-tatar commented on #200
It seems to be an issue in `npm` (https://stackoverflow.com/questions/35528425/enotempty-directory-not-empty-rename-javascript-npm-ubuntu-serve)

Can you trying deleting `node_modules` folder and doing an `npm install` ? From the logs seems like this would do:
[code]

[2022-07-21 16:38] mvujica opened #201 "Sprinkler node"
Thanks for update on docs but i can't make sprinkler node to function. State is always "not running".
If I set a payload to true, status is "not running", if I set it to payload.on=true than massage appears:
"[Sprinkler1] ignoring property msg.payload.on"
Also the property "Ignore input messages that don't match the topic value" is always reverted back to false.
My user id is: lhsnfOkC7JV0W8wJc9u2

[2022-07-22 10:07] #190 closed

[2022-07-22 11:19] andrei-tatar commented on #201
@mvujica Sorry, I think there's a mistake in the doc. There is no `on` property for the sprinkler. You have to use the `Start/Stop` trait.
![image](https://user-images.githubusercontent.com/6473183/180428647-4485febc-b390-4234-affa-7d3635450b1f.png)

[2022-07-31 20:11] orelio1 opened #202 "I have an issue while using NORA"
can't connect to google home on the app
when i go to the nora website i see my dashboard but i can't control anything
regreds
orelio

My user id is: 21gTCVTAHmU8vxgbn4OEbR4exym2

[2022-08-02 10:07] #197 closed

[2022-08-04 10:07] #199 closed

[2022-08-07 11:42] andrei-tatar commented on #202
@orelio1 Can you provide more details? What are you trying to control, devices in Google Home from different providers?

[2022-08-09 21:05] mgugu10 opened #203 "I have an issue while using NORA"
Hi, I have about 70 connected devices, everything workked for many month. Suddenly for some reason  they stopped synchonisation with google home: Devices are shown offline and of course not responding from google. Everything is OK from the Nora dashboard.
I tried to unlink / relink the nora account from google home but this is impossible, when I try to unlink, I receive "could not reach nora serve

[2022-08-10 04:52] andrei-tatar commented on #203
@mgugu10 Everything looks good in the logs and in the DB. All devices are online and no errors logged. Are there any errors in the node-red logs?

Is it working properly now?

I also had a few transient issues last night, but I believe they originated at Google. I asked Google Home to execute some commands and it kept repeating `The light was turned off` over and over again. Maybe they had some so

[2022-08-10 07:23] mgugu10 commented on #203
No, still the same, the devices are **off-line** for google and on-line for Smart Nora.
Unlink/relink Smart Nora still not working (could not reach Smart Nora, try again).
From nodered point of view, everything looks fine, no error in the logs.

[2022-08-11 06:02] andrei-tatar commented on #203
@mgugu10 is it possible that you are using different Smart Nora accounts when trying to link in the Google Home app?
The link might fail if the account you're trying to link to has no devices.
I tried myself a few times and it's working fine for me. No errors in the Google Home app.
Can you provide a screenshot with the Google Home app error? Might be a problem over at Google

[2022-08-11 08:34] mgugu10 commented on #203
Hi Andrei, I have only one Smart Nora account. Here are my screenshots:

Nora dashboard:
![2022-08-11 09_20_56-NORA](https://user-images.githubusercontent.com/83792053/184089895-92ff4ef3-72e9-4c4b-a533-a95d2087befa.png)

Home control;
![Home control](https://user-images.githubusercontent.com/83792053/184093185-c116e024-00d1-4e14-9e84-e0a427ccc1e6.jpg)

Home control shows 77 devices while Nora show

[2022-08-11 10:07] #200 closed

[2022-08-12 09:15] mgugu10 commented on #203
Hi Andrei, everything worked again this morning.
Did you do something from your side ?
What do you think the reason could be for suspending the service during 3 days?

[2022-08-12 13:20] andrei-tatar commented on #203
@mgugu10 I haven't changed anything but that `5 devices` synced seems to indicate that, for some reason, NORA was thinking you don't have an active subscription on your account. I will try to investigate the logs. Might've been something related to the stripe integration.

[2022-08-13 10:07] #201 closed

[2022-08-24 15:30] rgerrans opened #204 "Functionality Request/Suggestion: Device/Location in msg"
@andrei-tatar I've been using the new Zwave.js nodes and one thing I'm starting to take advantage of is that he includes the location and device name in the msg packet. Any thoughts on adding the Device Name (thinking the name in "Light" for example) and Room Hint as msg.device and msg.location respectively in the node output?

[2022-08-24 17:42] andrei-tatar commented on #204
I don't see a problem with it. Could be added as an option on the nora config node so that all nodes using that config would output the properties.

[2022-08-24 17:50] rgerrans commented on #204
That would be super helpful, thanks!!

[2022-08-26 09:18] andrei-tatar commented on #204
@rgerrans version `1.15.0` has added support for this.

[2022-08-27 15:41] osvedman opened #205 "Constantly getting HTTP 502 after upgrading to 1.15.0"
This started happening after upgrading to Smart NORA 1.15.0. Keeps on happening every minute.

Node-RED 3.0.2
Node 14.18.3
Raspberry Pi 4

My user id is: t7WJolzaFqMUs6VFcvFzRNi2qnF2

`nora: <default> - unhandled error (trying again in 53.65 sec): HTTP response (502)
    at FirebaseSync.doHttpCall (/home/pi/.node-red/node_modules/node-red-contrib-smartnora/build/nora/sync.js:238:27)
    at runMicr

[2022-08-27 16:54] Hjorth-Jensen commented on #205
I have the samme problem

[2022-08-29 08:31] andrei-tatar commented on #205
@osvedman / @Hjorth-Jensen  is this still happening? or was it transient? I don't think it's related to the version

[2022-08-29 08:35] osvedman commented on #205
Yeah, still happening. All I know is it started happening immediately after a Node-RED restart after upgrading Smart NORA, and I did not have this problem before then.

A 5xx error indicates an issue on your server, so perhaps you'll find more info in your server logs for Smart NORA?

[2022-08-29 08:36] andrei-tatar commented on #205
Yup, looking into it.

[2022-08-29 09:48] andrei-tatar commented on #205
@osvedman Can you please try again with `v1.15.1`? I think the problem was the lack of compression on the request body.

[2022-08-29 11:29] kreiseder commented on #205
Solved the problem for me! Thanks!

[2022-08-29 11:37] osvedman commented on #205
Yep, confirmed from me as well. Thank you!

[2022-08-29 11:37] #205 closed

[2022-08-29 19:48] bernardstef opened #206 "Strange Firebase issue"
Hi !

I updated to node red 3 from version 2, and I'ma facing an issue. When I change the status (on/off) of a device on the Google Home app, nothing is sent from the corresponding node in node red. It was working earlier.

Also, I get the error on my debug window :

[code]

And

[code]
What can be done ? I think the problem is on my side ! Thanks for the help or ideas ..  !

[2022-08-30 06:01] andrei-tatar commented on #206
@bernardstef Hi, it might be related to this issue: #205
Are you running v1.15.0?

Can you try upgrading to v1.15.1?

[2022-08-30 06:36] bernardstef commented on #206
Hi ! I was indeed on 1.15.0 , update to 1.15.1 fixed it ! Many thanks !!

[2022-08-30 06:36] #206 closed

[2022-08-30 10:07] #202 closed

[2022-09-03 10:07] #203 closed

[2022-09-11 12:44] tjerkhamer opened #208 "not able to dynamically add an action to notify"
Hello, First of all, really nice job with your work on SmartNora. I really like it.

But I can't get the actions on the notify working. It is possible to set an action in the node configuration, but when I want to set the action dynamically in the msg.payload, I receive an warning where the property is ignored.

I've tried a couple of configurations:

        actions: [{
            p: "OK",

[2022-09-12 06:35] andrei-tatar commented on #208
Hi @tjerkhamer ,
Adding actions dynamically is not supported (yet).
I can look into adding this.

[2022-09-12 10:27] tjerkhamer commented on #208
I understand the issue you mentioned.

I've found a workaround, where I added a new notify node for each situation, but it's not the best situation. I does make me understand your issue.

I think it's the responsibility of the user to make sure the response for the action can be handled correctly, there should only be a warning/error log when it's not possible, but maybe I'm taking this too easy b

[2022-09-21 18:12] mikkokam opened #211 "I have an issue while using NORA"
After a 3 hour power outage things went online again and all is working as should, but one crucial thing:
Everything at https://smart-nora.eu/my-nora is reported as "offline". Thus nothing works from Google side.

- Internet works
- Node Red: all local automation works
- Node Red: all NORA nodes have a normal (green) icon and status
- If I add a new NORA device, it appears to smart-nora.eu normall

[2022-09-21 20:13] mikkokam commented on #211
Resolved on it's own (?) after some 8 hours.

[2022-09-22 07:41] andrei-tatar commented on #211
@mikkokam I see you're using an old version of the package (1.0.13). While backwards compatible, a lot of bugfixes happened since. Try updating to latest version when you get a chance. It's way more stable.

[2022-09-22 08:54] mikkokam commented on #211
Ok, thanks!

On Thu, 22 Sep 2022, 10.41 Andrei Tatar, ***@***.***> wrote:

[2022-09-27 16:06] orelio1 commented on #208
Hey
is it possible to make a dimmer in nora red can only turn light on and off
but not dim

Mvg
Orelio

[2022-09-27 16:52] rgerrans commented on #208
Just put it in as a switch instead.

On Tue, Sep 27, 2022 at 5:06 PM orelio1 ***@***.***> wrote:

[2022-09-28 13:31] andrei-tatar commented on #208
@orelio1 not really related to this issue, but yes, you can just turn off "allow brightness control" and it will only be an on/off light.

![image](https://user-images.githubusercontent.com/6473183/192791718-ae48b61f-4c96-4cf1-980b-d2308ce51da7.png)

[2022-10-03 16:34] andrei-tatar commented on #208
@tjerkhamer Support for dynamic actions has been added. It's not in the documentation yet but here's a sample flow:

[code]

[2022-10-13 14:32] polarix2017 opened #212 "I have an issue while using NORA"
I'm not able to pay your fee for premium account with my card.
Can you help me ?

My user id is: ZqLukZUqU9hI8xe6bYI2Jg9YP7v1

[2022-10-13 16:00] andrei-tatar commented on #212
@polarix2017 sorry for the inconvenience. Stripe says your bank declined the payment and to contact the bank.
Here's all I could find:

![image](https://user-images.githubusercontent.com/6473183/195646565-59f7eca7-aff5-4686-8dd0-852120a3811e.png)

![image](https://user-images.githubusercontent.com/6473183/195646907-b4ead23d-152b-451e-a1d7-3f587b973211.png)

[2022-10-16 11:00] Jozef73 opened #214 "Doorbell"
Dear Andrei,

I can't trigger Doorbell in my phone to show notifications in Google Home App.
Sending payload from NodeRed (as your example) don't work, successfuly injected.
Voice notification is turned ON and Doorbell assigned in my house/room.
Doorbell presented in GH.

Any advice?

thank you

jozef

[2022-10-16 14:47] FireWizard52 commented on #214
Hi,

Try to Inject beside the payload a msg.topic = ObjectDetection.

Regards

[2022-10-17 07:39] andrei-tatar commented on #214
@Jozef73 I'm not sure if you can get the notifications on your phone. As far as I know if works only on Google Home speakers or smart displays.

If you want to get notifications on the phone, you can use the `notify` node.

![image](https://user-images.githubusercontent.com/6473183/196117149-57f65086-9e5b-4eb3-a11d-a88bfbfcdf70.png)

[2022-10-17 11:42] FireWizard52 commented on #214
@Jozef73,

I just realized now that your question applies to receiving notifications in your Google Home app on your smartphone.
I thought that it concerned the notification on a Google Home speaker.

Ignore my previous comment.

Regards

[2022-10-17 16:56] Jozef73 commented on #214
Dear Andrei,

notify node works well, but I need Google Home app (mobile) notifications from Doorbell created by NodeRed.

I tried to inject msg.topic = ObjectDetection, it also not works.

![Picture1](https://user-images.githubusercontent.com/96684879/196237491-a11c081b-4988-4b50-a0b6-00bf4ee1241c.png)

On developer Google home there some description, but I think your node is constructed differen

[2022-10-17 17:29] andrei-tatar commented on #214
@Jozef73 as I said, you will not receive doorbell notifications on your phone.

## [Notifications for smart home Actions](https://developers.google.com/assistant/smarthome/develop/notifications)

So you will only get announcements on your smart speakers and smart displays. Not phone!

[2022-10-23 14:06] jensr23 opened #215 "Red color and the hue value=0"
With the spectrumHsv object, the hue value for the color red is 0. Is that correct? Other colors have a value >0.

red = 0 ???
blue = 24
green = 120
yellow = 60
orange = 32.94117736816406
purple = 271.3274230957031
pinc = 349.5238037109375
white = 35.85365676879883
turquoise = 174

![color](https://user-images.githubusercontent.com/116499622/197396521-f82b2d66-1844-4a0c-8532-94f685555bb3.png)

[2022-10-24 14:41] andrei-tatar commented on #215
Yes, it's normal. Hue of 0 degrees with full saturation and value, will be red `#FF0000` in hex

![image](https://user-images.githubusercontent.com/6473183/197553062-2c0a494a-4264-458c-bffc-3fa0f9140ffa.png)

[2022-10-25 10:13] #208 closed

[2022-10-29 20:50] khabowski commented on #125
Hi, I have this same problem. RedNode 1.0.2. My nodes stopped to work so I updated smart nora in the pallette to the newest version. After it I got this in pallette

[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Ob

[2022-11-03 09:10] xselvasx opened #218 "Device not available from google voice command, device offline from nora"
As required in the discussion i open an issue
When i deploy the project in node-red i see in smart-nora.eu all device online but after less than 1 minute everithing became offline, sometimes return online for 10-15 seconds but after return offline; but in node-red seems to be connected. when i try to switch on a light from google voice command it said that the light is not available.

My user id i

[2022-11-03 14:51] andrei-tatar commented on #218
@xselvasx Hey, I had a look through the logs. What system are you running this on?
It seems like the system time on your local instance of node-red is not correct. It seems to be off by about 5 hours, 30 mins.

To explain a bit:
NORA detects if devices are online by checking the heartbeat timestamp sent by your node-red instance.  If that timestamp is not older than a minute, then the devices are

[2022-11-03 15:58] xselvasx commented on #218
i use nodered in a docker container, and the timestamp is correct for my timezone [UTC+1].
i forced the NTP sync with the time server and now seems to be fixed.
probably there was a clock drift in my device.
thank you very much

[2022-11-03 15:58] #218 closed

[2022-11-04 10:08] #212 closed

[2022-11-04 13:10] FoxConsult opened #219 "I have an issue while using NORA"
Hello,

I have 5 devices and my setup has been running for a long time without any problems. I few days ago, my accout at https://smart-nora.eu/my-nora show all devices as "offline".

My user id is: tkKbJxjQtGdEEceZzAuBMVQwRcy2

/Tommie

[2022-11-04 13:17] andrei-tatar commented on #219
Hello,

This might be related: #218
@FoxConsult can you if the device you're running on has the correct date/time set?

[2022-11-04 13:45] FoxConsult commented on #219
Hi Andrei,

My Raspberry Pi was of by 5 minutes. NTP settings are now corrected and Smart Nora now works fine.

Thank you!

/Tommie

From: Andrei Tatar ***@***.***
Sent: den 4 november 2022 14:18
To: andrei-tatar/node-red-contrib-smartnora
Cc: Tommie Mademark; Mention
Subject: Re: [andrei-tatar/node-red-contrib-smartnora] I have an issue while using NORA (Issue #219) - Email found in subject

Hell

[2022-11-08 10:08] #214 closed

[2022-11-08 12:49] nicandris opened #220 "Local execution not working"
Hey, I updated on  the latest version (1.17.1) a couple of days  ago and lost local execution or at  least the status icons  are not turning blue. Anyone else experiencing the same?

[2022-11-08 13:23] andrei-tatar commented on #220
@nicandris just checked and it's working fine for me (node status turns blue).
Is there a s;eck

[2022-11-08 13:25] #219 closed

[2022-11-08 17:17] andrei-tatar commented on #220
Do you have secondary verification enabled on any of the devices?
What is your user id?

[2022-11-08 17:19] nicandris commented on #220
Looks like I somehow (i dont remember getting in there for ages! 😂 ) enabled two-factor - `acknowledge`.
I've set it back to `Node` but its still not turning blue. I can see this though in the logs now

8 Nov 18:13:17 - [trace] [nora][local-execution] Received discovery packet, sending reply
8 Nov 18:13:23 - [trace] [nora][local-execution] Received discovery packet, sending reply
8 Nov 18:13:30 -

[2022-11-08 17:36] nicandris commented on #220
uid: feBejB5TPddLJU9Sy5YiCFMeHqt1

[2022-11-08 17:42] nicandris commented on #220
@andrei-tatar it's working now, not sure what happened or what I did... 🤷 I'll close this, thank you for checking into it 🙇

[2022-11-08 17:42] #220 closed

[2022-11-14 19:26] Geran247 opened #223 "I have an issue while using NORA"
Describe the problem here...
Mein Nora Account verbindet sich nicht mehr mit meinem neu Aufgesetzten Node Red.
Bitte kannst du mir weiterhelfen.

Grüße Geran

My user id is: IkRJ1sJ0BqMkwqwaJfEwBlArQ8u1

[2022-11-16 08:43] andrei-tatar commented on #223
@Geran247 Any relevant messages in the node-red logs?

[2022-11-19 09:17] Geran247 commented on #223
Vielen Dank für die Rückmeldung.
Ich habe mein Node Red frisch aufgesetzt und habe dann alle Gruppen gelöst und jetzt kann ich es nicht mehr verbinden.
Wie kann ich mich wieder anmelden?

[2022-11-19 15:56] andrei-tatar commented on #223
@Geran247 Have you tried following the steps from the guide? Which step doesn't work?
Any error logs in node-red. What device are you running node-red one? Is the time set correctly?

[2022-11-19 16:07] Geran247 commented on #223
Ja ich habe alle Schritte genau so durchgeführt.
Das einzige was nicht funktioniert ist das ich den E-Mail Link schon benutzt ist.
In Node red sehe ich das ich 35Geräte in gebrauch habe aber auf der Hompage NORA sehe ich keine Verbindung.
Node red läuft auf einem Raspberry Pi4 auf rasbian.

[2022-11-19 16:10] andrei-tatar commented on #223
@Geran247 Is it possible that you created different user accounts for different email addresses?
Try logging in again in node-red with the same authentication method you are using on smart-nora.eu
Also, make sure you have the latest version of `node-red-contrib-smartnora` installed in node-red.

[2022-11-19 16:32] Geran247 commented on #223
Nein ich verwende nur eine E-Mail Adresse.
Habe Node Red contrib smartnora ganz frisch installiert.
ich denke das es keine Verbindung gibt von smartnora zu node red

[2022-11-19 16:46] andrei-tatar commented on #223
Is the internet working on the Raspberry Pi?
If you're running node-red as a service, you can try viewing the last 200 lines of the log with `journalctl -u nodered.service -f -n 200` . There might me something relevant in there.

[2022-11-27 11:03] T1mey opened #224 "Camera URL"
I got a DLink camera and try to use the camera with Google Assistant and your node...
Not sure if that will work out.

I can only get the stream with those URL / media formats... any change to bring that 2gether with the node ?

JPEG:

http(s)://benutzername:passwort@ip_der_kamera/image/jpeg.cgi
bzw.
http(s)://benutzername:passwort@ip_der_kamera/image/jpeg.cgi?profileid=1

MJPEG:

http(s)://benutz

[2022-11-27 14:16] andrei-tatar commented on #224
@T1mey I never got to playing around with the camera streams. Not 100% sure, but I think it needs to be a public ip/host name.

[2022-11-27 16:09] andrei-tatar commented on #224
Btw, I do plan to install some cameras for myself in the next few months and I will play around with adding them to Google Home.

[2022-11-28 06:41] andrei-tatar commented on #224
@T1mey ah, the question is more about the codecs. No, there's no chance I can change the video codec.
You can use something like this: https://github.com/deepch/RTSPtoWebRTC to transcode to something supported by Google Home.

[2022-11-28 06:46] T1mey commented on #224
Which codecs are supported by google ? I can choose between h.264 and mpeg...
Question is if this is working in my local network or if the URL must be accessable over the internet.

If yes maybe it's maybe worth changing the camera to another model which is supported by google out of the box.

[2022-11-28 07:13] andrei-tatar commented on #224
These are the supported stream protocols:
https://developers.home.google.com/cloud-to-cloud/traits/camerastream#streaming%20protocols

No idea. The documentation doesn't specify it explicitly. I personally haven't tried yet.

[2022-11-28 07:20] T1mey commented on #224
Note: CameraStream is not currently supported by [local fulfillment](https://developers.home.google.com/cloud-to-cloud/concepts/local).

Link is not reachable... seems it's called local fullfillment

Would be interested which devices are supporting local fullfillment.... Searching for some power plugs which can do that....

[2022-11-28 07:50] andrei-tatar commented on #224
Local fulfilment is related to something else, not the camera stream url.

It's the ability to receive commands/queries from a Google home device directly to the node-red instance, not via the cloud path.

Pretty much all devices support local fulfilment.

[2022-11-28 07:52] T1mey commented on #224
Is it possible to use that feature in smart nora soehow ?

[2022-11-28 07:59] andrei-tatar commented on #224
Yes, it's already supported and enabled by default for the devices that support it.
You can read more about it here:
- https://developers.home.google.com/local-home/overview
- https://github.com/andrei-tatar/node-red-contrib-smartnora/tree/master/doc/faq#how-does-local-execution-work

[2022-11-28 08:11] T1mey commented on #224
Wow... sounds great... I'm using Homematic (IP) devices .... and the delays between commands are quite huge (2-5 seconds) .

[2022-11-28 08:16] andrei-tatar commented on #224
@T1mey please note that the latency between Google and node-red is at a minimum (in my case ~500msec). Not sure how you interface with the Homematic devices from node-red, but it might add up.

[2022-11-28 08:25] T1mey commented on #224
Thanks for the clarification ... the status is blue in my case... so as I understood it right,,,, the call is not leaving my LAN right ?

[2022-11-28 08:30] andrei-tatar commented on #224
Yes, it means the devices receives the commands via local fulfilment path.
However there still is a status update send to the cloud since Google Home only supports cloud queries. So when you open Google Home and Google queries what's the status for all the devices, that call goes only to nora, not to your LAN.

[2022-11-28 10:33] BreizhCat opened #225 "Which device has been triggered"
Hello,

First of all thanks for your work.
I'm wondering if there is a way to determine which device has been triggered (Google Hub, Nest ...) to be able to return feedback on the correct device ?

Today in my node-red I have put the IP of the main device (in kitchen). But if I ask to google something in another room, the feedback is currently sent to the kitchen. Is it possible?

Thanks

[2022-11-28 10:51] andrei-tatar commented on #225
Hello @BreizhCat,
Unfortunately there's no way, right now, to know the device the command came from.
Keep in the mind the command can come from other places as well, not only from a google home device.

Related issue
s: #188

[2022-11-28 11:07] BreizhCat commented on #225
Argh yes ! Thanks for your feedback.

[2022-11-28 11:07] #225 closed

[2022-11-28 12:47] FireWizard52 commented on #224
Hi, @T1mey.

Following your discussions, as I do also own DLink camera's. Unfortunately older model, DCS930L.

What is your intended use, as I only can image that you want to give a voice command and then that your camera stream is displayed on a Google Nest Hub or a Max.
I have never been able to realize that, but used some work around with CATT (Cast All The Things) and a support program
mqtt-la

[2022-11-28 13:28] T1mey commented on #224
@FireWizard52
Yes, that's what I want to do...
Must your cam be reachable ober the internet?

I think I do not want to have a process running for convserion and I will switch to another cam...

[2022-11-28 13:59] FireWizard52 commented on #224
Hi @T1mey,

You asked:

No, my cams are not reachable from the Internet. I'm able to create a VPN to my local network and it that case I can view the camera stream on my phone, tablet, etc. I do not want that everybody can look into my house.
My camera's and the Google Nest Hub are on the same private LAN, which is not accessible from the Internet.